<html>

<head th:replace="~{base :: head}"><title id="pageTitle">Cadastro</title></head>

<body style="background-color: black;" class="d-flex align-items-center justify-content-center">
	<div style="background-color: aqua; width: 50%; height: 60%"
		class="d-flex align-items-center justify-content-center">
		<div class="card mb-3">
			<form th:action="@{/cadastro/save}" class="card-body " method="post">
				<div class="form-group">
					<label for="nome">Nome</label>
					<input name="nome" class="form-control" placeholder="nome" />
				</div>
				<div class="form-group">
					<label for="email">Usuário</label>
					<input name="email" class="form-control" placeholder="usuário" />
				</div>
				<div class="form-group">
					<label for="senha">Senha</label>
					<input type="password" name="senha" class="form-control" placeholder="senha" />
				</div>
				<div class="d-flex align-items-center justify-content-end">
					<button class="btn btn-primary mr-1" type="submit">Cadastrar</button>
					<a href="/" class="btn btn-primary">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>

</html>