<html>

<head th:replace="~{base :: head}"><title id="pageTitle">Login</title></head>

<body style="background-color: black;" class="d-flex align-items-center justify-content-center">
	<div style="background-color: aqua; width: 50%; height: 60%"
		class="d-flex align-items-center justify-content-center">
		<div class="card mb-3">
			<form th:action="@{/login}" class="card-body " method="post">
				<div th:if="${error}" class="d-flex align-items-center justify-content-center">
					<p style="color: red;">Usuário ou senha incorretos</p>
				</div>
				<div class="form-group">
					<label for="username">Usuário</label>
					<input name="username" class="form-control" placeholder="usuário" />
				</div>
				<div class="form-group">
					<label for="password">Senha</label>
					<input type="password" name="password" class="form-control" placeholder="senha" />
				</div>
				<div class="d-flex align-items-center justify-content-end">
					<button class="btn btn-primary mr-1" type="submit">Login</button>
					<a href="/" class="btn btn-primary">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>

</html>