<html>

<head th:replace="~{base :: head}">
	<title id="pageTitle">Inicio</title>
</head>

<body style="background-color: black;" class="d-flex align-items-center justify-content-center">
	<div style="background-color: aqua; width: 50%; height: 60%">
		<div class="p-1 logo text-decoration-none">
			<a href="/nyancat" class="text-decoration-none text-dark">NyanCat</a>
		</div>
		<center>
			<p> A FÚRIA DOS DEUSES CAIU SOBRE VOCÊ, TODA SUA EXISTENCIA FOI DELETADA! </p>
			<img src="https://i.pinimg.com/originals/19/fd/bf/19fdbf0f921ee1ab4bc3feb83d70c8f0.gif"
				style="width:100%; height: 75%; margin-top: 1rem">
		</center>
	</div>
</body>

</html>